# Local work folders that is not checked in
_*/

.*
!.dockerignore
!.editorconfig
!.git*

# Eclipse
**/.settings/*
!**/.settings/org.eclipse.jdt.core.prefs
bin/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IntelliJ
/.idea
/*.iml
/*.ipr
/*.iws

# NetBeans
nb-configuration.xml

# Vim
*.swo
*.swp

# patch
*.orig
*.rej
