<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>ldif</string>
	</array>
	<key>name</key>
	<string>LDAP Data Interchange Format</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>constant.numeric.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>invalid.illegal.syntax.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Version-Line</string>
			<key>match</key>
			<string>version:\s*([0-9])(.*)</string>
			<key>name</key>
			<string>support.constant.attribute.version.ldif</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#comment</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(changetype):\s(add)$</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.add.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>variable.parameter.changetype.add.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Highlighter for LDAP change record add</string>
			<key>end</key>
			<string>(?=dn)</string>
			<key>name</key>
			<string>meta.changetype.add.ldif</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#comment</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#attribute_safestring</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#attribute_base64</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#attribute_url</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#delimiter</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#rest_is_illegal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(changetype):\s(delete)$</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.delete.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>variable.parameter.changetype.delete.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Highlighter for LDAP change record delete</string>
			<key>end</key>
			<string>(?=dn)</string>
			<key>name</key>
			<string>meta.changetype.delete.ldif</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#comment</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#rest_is_illegal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(changetype):\s(modify)$</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.modify.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>variable.parameter.changetype.modify.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Highlighter for LDAP change record modify</string>
			<key>end</key>
			<string>(?=dn)</string>
			<key>name</key>
			<string>meta.changetype.modify.ldif</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#comment</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>support.constant.attribute.modspec.ldif</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>variable.language.attribute.ldif</string>
						</dict>
						<key>3</key>
						<dict>
							<key>name</key>
							<string>constant.other.options.ldif</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>Modification specification (mod-spec)</string>
					<key>match</key>
					<string>^(add|delete|replace):\s*([a-zA-Z0-9-]+)(;[a-zA-Z0-9;-]+)*</string>
					<key>name</key>
					<string>entity.name.function.modspec.ldif</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#attribute_safestring</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#attribute_base64</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#attribute_url</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#delimiter</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#rest_is_illegal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(changetype):\s(modrdn)$</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.modrdn.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>variable.parameter.changetype.modify.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Highlighter for LDAP change record modrdn</string>
			<key>end</key>
			<string>(?=dn)</string>
			<key>name</key>
			<string>meta.changetype.modrdn.ldif</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#comment</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>^(newrdn):(?![:])\s*</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>entity.name.function.newrdn.ldif</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>NewRDN-Attribute with safestring</string>
					<key>contentName</key>
					<string>string.quoted.safe.ldif</string>
					<key>end</key>
					<string>^(?! )</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#check_safestring</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>^(newrdn)::\s*</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>entity.name.function.newrdn.ldif</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>NewRDN-Attribute with base64</string>
					<key>contentName</key>
					<string>string.quoted.base64.ldif</string>
					<key>end</key>
					<string>^(?! )</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#check_base64_string</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>constant.numeric.ldif</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>DeleteOldRDN-Attribute</string>
					<key>match</key>
					<string>^deleteoldrdn:\s*([01])$</string>
					<key>name</key>
					<string>entity.name.function.deleteoldrdn.ldif</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>^(newsuperior):(?![:])\s*</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>entity.name.function.newsuperior.ldif</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>newSuperior-Attribute with safestring</string>
					<key>contentName</key>
					<string>string.quoted.safe.ldif</string>
					<key>end</key>
					<string>^(?! )</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#check_safestring</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>^(newsuperior)::\s*</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>entity.name.function.newsuperior.ldif</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>newSuperior-Attribute with base64</string>
					<key>contentName</key>
					<string>string.quoted.base64.ldif</string>
					<key>end</key>
					<string>^(?! )</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#check_base64_string</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>#delimiter</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#rest_is_illegal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>include</key>
			<string>#attribute_special_safestring</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#attribute_special_base64</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#attribute_safestring</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#attribute_base64</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#attribute_url</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#rest_is_illegal</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>attribute_base64</key>
		<dict>
			<key>begin</key>
			<string>^([a-zA-Z0-9-]+)(;[a-zA-Z0-9;-]+)*::\s*</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>variable.language.attribute.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.other.options.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Attribute (base64)</string>
			<key>contentName</key>
			<string>string.quoted.base64.ldif</string>
			<key>end</key>
			<string>^(?! )</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#check_base64_string</string>
				</dict>
			</array>
		</dict>
		<key>attribute_safestring</key>
		<dict>
			<key>begin</key>
			<string>^([a-zA-Z0-9-]+)(;[a-zA-Z0-9;-]+)*:(?![:&lt;])\s*</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>variable.language.attribute.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.other.options.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Attribute (safe string)</string>
			<key>contentName</key>
			<string>string.quoted.safe.ldif</string>
			<key>end</key>
			<string>^(?! )</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#check_safestring</string>
				</dict>
			</array>
		</dict>
		<key>attribute_special_base64</key>
		<dict>
			<key>begin</key>
			<string>^(?i:(dn|objectclass))(;[a-zA-Z0-9;-]+)*::\s*</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.other.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.other.options.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Attribute (base64)</string>
			<key>contentName</key>
			<string>string.quoted.base64.ldif</string>
			<key>end</key>
			<string>^(?! )</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#check_base64_string</string>
				</dict>
			</array>
		</dict>
		<key>attribute_special_safestring</key>
		<dict>
			<key>begin</key>
			<string>^(?i:(dn|objectclass))(;[a-zA-Z0-9;-]+)*:(?![:&lt;])\s*</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.other.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.other.options.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Attribute (safe string)</string>
			<key>contentName</key>
			<string>string.quoted.safe.ldif</string>
			<key>end</key>
			<string>^(?! )</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#check_safestring</string>
				</dict>
			</array>
		</dict>
		<key>attribute_url</key>
		<dict>
			<key>begin</key>
			<string>^([a-zA-Z0-9-]+)(;[a-zA-Z0-9;-]+)*:&lt;\s*</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>variable.language.attribute.ldif</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.other.options.ldif</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>Attribute (url)</string>
			<key>contentName</key>
			<string>string.quoted.base64.ldif</string>
			<key>end</key>
			<string>^(?! )</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#check_url_string</string>
				</dict>
			</array>
		</dict>
		<key>check_base64_string</key>
		<dict>
			<key>comment</key>
			<string>Highlight invalid characters in a LDIF base64 string</string>
			<key>match</key>
			<string>[^\r\n+/=A-Za-z0-9 ]+</string>
			<key>name</key>
			<string>invalid.illegal.character.ldif</string>
		</dict>
		<key>check_safestring</key>
		<dict>
			<key>comment</key>
			<string>Highlight invalid characters in a LDIF safestring</string>
			<key>match</key>
			<string>[^\r\n\x{01}-\x{09}\x{0B}-\x{0C}\x{0E}-\x{1F}\x{21}-\x{39}\x{3B}\x{3D}-\x{7F}\x{01}-\x{09}\x{0B}-\x{0C}\x{0E}-\x{7F}]+</string>
			<key>name</key>
			<string>invalid.illegal.character.ldif</string>
		</dict>
		<key>check_url_string</key>
		<dict>
			<key>comment</key>
			<string>Highlight invalid characters in a LDIF url string</string>
			<key>match</key>
			<string>[^
a-zA-Z0-9$.+!*(),_{}|\\^~\[\]`&lt;&gt;#%'";/?:@&amp;=-]</string>
			<key>name</key>
			<string>invalid.illegal.character.ldif</string>
		</dict>
		<key>comment</key>
		<dict>
			<key>comment</key>
			<string>Comments must be reusable because they can also appear within modify blocks.</string>
			<key>match</key>
			<string>^\s*#.*$</string>
			<key>name</key>
			<string>comment.ldif</string>
		</dict>
		<key>delimiter</key>
		<dict>
			<key>comment</key>
			<string>Block delimiter for multiple changes.</string>
			<key>match</key>
			<string>^-$</string>
			<key>name</key>
			<string>comment.delimiter.ldif</string>
		</dict>
		<key>rest_is_illegal</key>
		<dict>
			<key>comment</key>
			<string>Marks everything else als illegal. Is used as a catch-all statement.</string>
			<key>match</key>
			<string>.*</string>
			<key>name</key>
			<string>invalid.illegal.syntax.ldif</string>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.ldif</string>
	<key>uuid</key>
	<string>471950fc-87e4-4a61-9e3f-93687ec5c381</string>
</dict>
</plist>
