<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SPDX-FileCopyrightText: © Sebastian Thomschke and contributors.
   SPDX-FileContributor: Sebastian Thomschke
   SPDX-License-Identifier: EPL-2.0
   SPDX-ArtifactOfProjectHomePage: https://github.com/sebthom/extra-syntax-highlighting-eclipse-plugin
-->
<plist version="1.0">
   <dict>
      <key>fileTypes</key>
      <array>
         <string>eea</string>
      </array>
      <key>name</key>
      <string>Eclipse External null Annotations</string>
      <key>scopeName</key>
      <string>source.eea</string>
      <key>uuid</key>
      <string>b5c7e5d0-c373-11ed-afa1-0242ac120002</string>
      <key>patterns</key>
      <array>
         <dict>
            <key>include</key>
            <string>#main</string>
         </dict>
      </array>
      <key>repository</key>
      <dict>
         <key>main</key>
         <dict>
            <key>patterns</key>
            <array>
               <dict>
                  <key>match</key>
                  <string>(class)\s+(([a-zA-Z_\x{0024}][a-zA-Z\d_\x{0024}]*/)*[a-zA-Z_\x{0024}][a-zA-Z\d_\x{0024}]*)</string>
                  <key>captures</key>
                  <dict>
                     <key>1</key>
                     <dict>
                        <key>name</key>
                        <string>keyword.eea</string>
                     </dict>
                     <key>2</key>
                     <dict>
                        <key>name</key>
                        <string>entity.name.class.eea</string>
                     </dict>
                     <key>3</key>
                     <dict>
                        <key>name</key>
                        <string>entity.name.class.eea</string>
                     </dict>
                  </dict>
               </dict>
               <dict>
                  <key>match</key>
                  <string>^(&lt;init&gt;)$</string>
                  <key>name</key>
                  <string>keyword.operator.new.eea</string>
               </dict>
               <dict>
                  <key>match</key>
                  <string>^([a-zA-Z_][a-zA-Z_\d]*)$</string>
                  <key>name</key>
                  <string>variable.eea</string>
               </dict>
               <dict>
                  <key>match</key>
                  <string>(L)([01]?)(([a-zA-Z_\x{0024}][a-zA-Z\d_\x{0024}]*/)*[a-zA-Z_\x{0024}][a-zA-Z\d_\x{0024}]*)([\x{003b}\x{003c}])</string>
                  <key>captures</key>
                  <dict>
                     <key>1</key>
                     <dict>
                        <key>name</key>
                        <string>punctuation.eea</string>
                     </dict>
                     <key>2</key>
                     <dict>
                        <key>name</key>
                        <string>constant.numeric.eea</string>
                     </dict>
                     <key>3</key>
                     <dict>
                        <key>name</key>
                        <string>entity.name.class.eea</string>
                     </dict>
                     <key>4</key>
                     <dict>
                        <key>name</key>
                        <string>entity.name.class.eea</string>
                     </dict>
                     <key>5</key>
                     <dict>
                        <key>name</key>
                        <string>punctuation.eea</string>
                     </dict>
                  </dict>
               </dict>
            </array>
         </dict>
      </dict>
   </dict>
</plist>
