<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
         id="exta-syntax-highlighting.base"
         base-type="org.eclipse.core.runtime.text"
         name="Extra Syntax Highlighting"
         priority="high" />
   </extension>

   <!-- ============================== -->
   <!-- TextMate                       -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="org.eclipse.core.runtime.xml" priority="high" id="exta-syntax-highlighting.textmate" name="Textmate Grammar File"
                    file-extensions="tmLanguage,plist" />
      <file-association content-type="exta-syntax-highlighting.textmate" file-extensions="tmLanguage,plist" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.textmate" />
   </extension>

   <!-- ============================== -->
   <!-- Apache HTTP Conf              -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.apache-http" name="Apache HTTP Config File"
                    file-extensions="conf,envvars,htaccess,htgroups,htpasswd" />
      <file-association content-type="exta-syntax-highlighting.c" file-extensions="conf,envvars,htaccess,htgroups,htpasswd"  />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.apache-http" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/apache-http/apache-http.tmLanguage.plist" scopeName="source.apacheconf" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.apache-http" scopeName="source.apacheconf" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.apache-http" path="syntaxes/apache-http/apache-http.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- C                              -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.c" name="C Source File"
                    file-extensions="c,i" />
      <file-association content-type="exta-syntax-highlighting.c" file-extensions="c,i" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.c" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/c/c.tmLanguage.json" scopeName="source.c" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.c" scopeName="source.c" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.c" path="syntaxes/c/c.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- C++                            -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.cpp" name="C++ Source File"
                    file-extensions="c++,cc,cpp,h,hpp" />
      <file-association content-type="exta-syntax-highlighting.cpp" file-extensions="c++,cc,cpp,h,hpp" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.cpp" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/cpp/cpp.tmLanguage.json" scopeName="source.cpp" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.cpp" scopeName="source.cpp" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.cpp" path="syntaxes/cpp/cpp.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- C#                             -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.csharp" name="C# Source File"
                    file-extensions="cs,csx,cake" />
      <file-association content-type="exta-syntax-highlighting.csharp" file-extensions="cs,csx,cake" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.csharp" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/csharp/csharp.tmLanguage.json" scopeName="source.cs" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.csharp" scopeName="source.cs" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.csharp" path="syntaxes/csharp/csharp.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- Dart                           -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.dart" name="Dart Source File"
                    file-extensions="dart" />
      <file-association content-type="exta-syntax-highlighting.dart" file-extensions="dart" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.dart" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/dart/dart.tmLanguage.json" scopeName="source.dart" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.dart" scopeName="source.dart" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.dart" path="syntaxes/dart/dart.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- DOT (GraphViz)                 -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.dot" name="Graphviz DOT File"
                    file-extensions="dot" />
      <file-association content-type="exta-syntax-highlighting.dot" file-extensions="dot" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.dot" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/dot/dot.tmLanguage.plist" scopeName="source.dot" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.dot" scopeName="source.dot" />
   </extension>

   <!-- ============================== -->
   <!-- ER                             -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.er" name="ER File"
                    file-extensions="er" />
      <file-association content-type="exta-syntax-highlighting.er" file-extensions="er" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.er" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/er/er.tmLanguage.json" scopeName="source.er" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.er" scopeName="source.er" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.er" path="syntaxes/er/er.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- GraphQL                        -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.graphql" name="GraphQL File"
                    file-extensions="graphql" />
      <file-association content-type="exta-syntax-highlighting.graphql" file-extensions="graphql" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.graphql" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/graphql/graphql.tmLanguage.json" scopeName="source.graphql" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.graphql" scopeName="source.graphql" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.graphql" path="syntaxes/graphql/graphql.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- Haxe                           -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.haxe" name="Haxe Source File"
                    file-extensions="hx" />
      <file-association content-type="exta-syntax-highlighting.haxe" file-extensions="hx" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.haxe" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/haxe/haxe.tmLanguage.plist" scopeName="source.hx" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.haxe" scopeName="source.hx" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.haxe" path="syntaxes/haxe/haxe.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- HCL (HashiCorp                 -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.hcl" name="HCL Config File"
                    file-extensions="hcl" />
      <file-association content-type="exta-syntax-highlighting.hcl" file-extensions="hcl" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.hcl" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/hcl/hcl.tmLanguage.json" scopeName="source.hcl" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.hcl" scopeName="source.hcl" />
   </extension>

   <!-- ============================== -->
   <!-- INI                            -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.ini" name="INI Config File"
                    file-extensions="ini,url" />
      <file-association content-type="exta-syntax-highlighting.ini" file-extensions="ini,url" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.ini" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/ini/ini.tmLanguage.json" scopeName="source.ini" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.ini" scopeName="source.ini" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.ini" path="syntaxes/ini/ini.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- LDIF                           -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.ldif" name="LDIF File" file-extensions="ldif" />
      <file-association content-type="exta-syntax-highlighting.ldif" file-extensions="ldif" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.ldif" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/ldif/ldif.tmLanguage.plist" scopeName="text.ldif" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.ldif" scopeName="text.ldif" />
   </extension>

   <!-- ============================== -->
   <!-- Lua                            -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.lua" name="Lua Source File"
                    file-extensions="lua,p8,rockspec" />
      <file-association content-type="exta-syntax-highlighting.lua" file-extensions="lua,p8,rockspec" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.lua" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/lua/lua.tmLanguage.json" scopeName="source.lua" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.lua" scopeName="source.lua" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.lua" path="syntaxes/lua/lua.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- Makefile                       -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.makefile" name="Makefile"
                    file-extensions="mak,mk" file-names="Makefile,makefile" file-patterns="*Makefile" />
      <file-association content-type="exta-syntax-highlighting.makefile" file-extensions="mak,mk" file-names="Makefile,makefile" file-patterns="*Makefile"/>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.makefile" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/makefile/makefile.tmLanguage.json" scopeName="source.makefile" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.makefile" scopeName="source.makefile" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.makefile" path="syntaxes/makefile/makefile.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- PHP                            -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.php" name="PHP Source File" file-extensions="ctp,phtml,php,php4,php5" />
      <file-association content-type="exta-syntax-highlighting.php" file-extensions="ctp,phtml,php,php4,php5" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.php" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/php/php.tmLanguage.json" scopeName="source.php" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.php" scopeName="source.php" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.php" path="syntaxes/php/php.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- PlantUML                       -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.plantuml" name="PlantUML File" file-extensions="wsd,iuml,pu,puml,plantuml" />
      <file-association content-type="exta-syntax-highlighting.plantuml" file-extensions="wsd,iuml,pu,puml,plantuml" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.plantuml" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/plantuml/plantuml.tmLanguage.json" scopeName="source.wsd" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.plantuml" scopeName="source.wsd" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.plantuml" path="syntaxes/plantuml/plantuml.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- PowerShell                     -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.powershell" name="PowerShell File" file-extensions="ps1,psm1,psd1,pssc,psrc" />
      <file-association content-type="exta-syntax-highlighting.powershell" file-extensions="ps1,psm1,psd1,pssc,psrc" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.powershell" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/powershell/powershell.tmLanguage.json" scopeName="source.powershell" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.powershell" scopeName="source.powershell" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.powershell" path="syntaxes/powershell/powershell.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- Prisma                         -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.prisma" name="Prisma File" file-extensions="prisma" />
      <file-association content-type="exta-syntax-highlighting.prisma" file-extensions="prisma" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.prisma" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/prisma/prisma.tmLanguage.json" scopeName="source.prisma" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.prisma" scopeName="source.prisma" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.prisma" path="syntaxes/prisma/prisma.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- Sentinel (HashiCorp)           -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.sentinel" name="Sentinel File" file-extensions="sentinel" />
      <file-association content-type="exta-syntax-highlighting.sentinel" file-extensions="sentinel" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.sentinel" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/sentinel/sentinel.tmLanguage.json" scopeName="source.sentinel" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.sentinel" scopeName="source.sentinel" />
   </extension>

   <!-- ============================== -->
   <!-- Svelte                         -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.svelte" name="Svelte Config File" file-extensions="svelte,url" />
      <file-association content-type="exta-syntax-highlighting.svelte" file-extensions="svelte,url" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.svelte" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/svelte/svelte.tmLanguage.json" scopeName="source.svelte" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.svelte" scopeName="source.svelte" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.svelte" path="syntaxes/svelte/svelte.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- Swift                          -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.swift" name="Swift Source File"
                    file-extensions="swift" />
      <file-association content-type="exta-syntax-highlighting.swift" file-extensions="swift" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.swift" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/swift/swift.tmLanguage.json" scopeName="source.swift" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.swift" scopeName="source.swift" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.swift" path="syntaxes/swift/swift.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- Terraform (HashiCorp)          -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.terraform" name="Terraform File" file-extensions="tf,tfvars" />
      <file-association content-type="exta-syntax-highlighting.terraform" file-extensions="tf,tfvars" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.terraform" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/terraform/terraform.tmLanguage.json" scopeName="source.hcl.terraform" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.terraform" scopeName="source.hcl.terraform" />
   </extension>

   <!-- ============================== -->
   <!-- TOML                           -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.toml" name="TOML Config File" file-extensions="toml" />
      <file-association content-type="exta-syntax-highlighting.toml" file-extensions="toml" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.toml" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/toml/toml.tmLanguage.json" scopeName="source.toml" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.toml" scopeName="source.toml" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.toml" path="syntaxes/toml/toml.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- VisualBasic                    -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.vb" name="Visual Basic Source File" file-extensions="bas,vb,vba,vbs" />
      <file-association content-type="exta-syntax-highlighting.vb" file-extensions="bas,vb,vba,vbs" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.vb" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/vb/vb.tmLanguage.json" scopeName="source.asp.vb.net" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.vb" scopeName="source.asp.vb.net" />
   </extension>
   <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration contentTypeId="exta-syntax-highlighting.vb" path="syntaxes/vb/vb.langcfg.json" />
   </extension>

   <!-- ============================== -->
   <!-- VUE                            -->
   <!-- ============================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="exta-syntax-highlighting.base" priority="normal" id="exta-syntax-highlighting.vue" name="VUE Source File" file-extensions="vue" />
      <file-association content-type="exta-syntax-highlighting.vue" file-extensions="vue" />
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="exta-syntax-highlighting.vue" />
   </extension>
   <extension point="org.eclipse.tm4e.registry.grammars">
      <grammar path="syntaxes/vue/vue.tmLanguage.plist" scopeName="text.html.vue" />
      <scopeNameContentTypeBinding contentTypeId="exta-syntax-highlighting.vue" scopeName="text.html.vue" />
   </extension>
</plugin>
